.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(160, 160, 160, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.addItemModal {
  padding: 20px;
  background-color: #D9D9D9;
  border-radius: 10px;
}

.label {
  margin: 0 10px 0 40px;
}

.modalInput {
  margin: 10px;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.optionsColumn {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 10px;
}

.horizontalInputs {
  display: flex;
  flex-direction: row;
}

.verticalInputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.verticalInput {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
}

.button {
  margin: 0 10px 0 10px;
}

.roundedInput {
  margin: 0 10px 0 10px;
}