.itemCardAdder {
  background-color: #E4E4E4;
  height: 300px;
  width: 150px;
  border: dashed black 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
  box-sizing: border-box;
}

.itemCardAdder:hover {
  background-color: #cdcdcd;
}